.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    color: white;
    padding: 70px;
    text-align: center;

}

.about .title{
    font-size: 36px;
}
.content{
    font-size: 24px;
    border: 3px solid gray;
    border-radius: 15px;
    max-width: 400px; 
    padding: 25px; 
    hyphens: auto;
    word-spacing: normal;
}
.github{
    margin-top: 30px;
}

