
/* Estilo para la cabecera (header) */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupar toda la altura de la pantalla */
  }
  
  /* Estilo para el contenedor del typewriter */
  .typewriter-container {
    position: relative; /*Hay que colocar la posicion en relativa para qur queden arriba del fondo*/
    font-size: 3rem;
    font-weight: bold;
    color: white;  
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    transform: scaleX(0.7);
  }
  
  /* Subtítulo debajo del typewriter */
  .subtitle {
    position: relative; /*Hay que colocar la posicion en relativa para qur queden arriba del fondo*/
    text-align: center;
    color: gray;
    font-size: 1.5rem;
    z-index: 99;
    margin-top: 30px;
    font-weight: lighter;
  }
  