
@media (min-width: 769px) and (max-width: 1366px) {

  /* AboutMe */
  .title{
    margin-top: 10px;
    font-size: 2rem;
  }

  .content{
    font-size: 1.5rem;
  }

  /* LenguagesAndTools */
  .languages,
  .tools{
    margin-top: 10px;
    font-size: 2rem;
  }

  .iconWrapper img{
    width: 80px;
    height: 80px;
  }

  /* Proyects */
  .proyects .title{
    margin: 0px;
    font-size: 2rem;
  }

  .proyect-img{
    max-width: 90px;
    max-height: 50px;
  }

  .proyect-card{
    max-width: 160px;
    max-height: 200px;
  }

  .proyect-card h1 {
    font-size: 1rem;
  }

  .proyect-description {
    font-size: 0.7rem;
    color: #555;
    margin: 0px;
  }

  .proyect-repository,
  .proyect-link,
  .proyect-status{
    font-size: 0.7rem;
  }

  /* ContactMe */

  .contact{
    margin-top: 50px;
  }
  .contact .title{
    font-size: 2rem;
  }

  .about-contact{
    max-width: 400px;
    max-height: 400px;
    margin-top: 0px;
    gap: 10px;
  }

 
}


@media screen and (max-width: 768px) {
    html, body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  


    /* Presentation */
    .typewriter-container{
      font-size: 16px; 
    }

    .subtitle{
      font-size: 12px;
    }

    /* AboutMe */

    .title{
      font-size: 32px;
    }

    .content{
      font-size: 16px;
    }

    /* LanguagesAbdTools */


    .languagesIcons{
      gap: 0px;
    }
    .toolsIcons{
      gap: 0px;
    }
    .languages,
    .tools{
      margin-top: 0px;
      font-size: 32px;
    }

    img{
      width: 50px;
      height: 50px;
    }
    
    /* Proyects */

    .proyects{
      padding: 3px;
    }

    .proyects .title{
      font-size: 32px;
      margin-bottom: 50px;
    }

    .proyects-container {
      gap: 0px; /* Espacio entre elementos */
      max-width: 100%; /* Ajusta el ancho si es necesario */
    }

    .proyect-card {
      padding: 3px;
      max-width: 105px;
      max-height: 250px;
      margin: 5px;
    }
    .proyect-card h1 {
      font-size: 12px;
    }

    .proyect-img{
      width: 0px;
      height: 0px;
    }

    .proyect-description, 
    .proyect-repository,
    .proyect-link  {
      font-size: 12px;
    }

    /* ContactMe */
    .contact{
      padding: 10px;
    }
    .about-contact{
      width: 70%;
      height: 60%;
      padding: 50px;
    }


}
